@use "global" as *;

.about__inner {
	padding-top: rem(400);
	padding-bottom: rem(200);
}

.about__text {
	font-size: rem(18);
	line-height: 1.8;
	letter-spacing: 0.02em;
	margin-top: rem(140);
	@include mq(md){
		font-size: rem(30);
		font-weight: 600;
		margin-top: rem(160);
		line-height: 2.2;
		letter-spacing: 0.02em;
		color: $black;
		text-align: justify;
	}
}

.about__text-p {
	margin-top: rem(30);
	color: $white;
}